// FRANQUICIAS //

.franquiciaSection{
    background-color: rgb(48, 44, 44);

    h2{
        font-family: 'Oswald', sans-serif;
        font-size: 45px;
    }

    p{
        font-family: 'Oswald', sans-serif;
    }

    h3{
        font-family: 'Oswald', sans-serif;
        color: rgb(149, 210, 51);
        font-size: 35px;
    }

    form{
        width: 50%;
    }
}

.imgFranquicia{
    width: 50%;
}

.botonFormulario{
    background-color: $color1;
    margin: 10px 0px 10px 0px;
}

.botonFormulario:hover{
    background-color: $color3;
}


@media (max-width: 426px){
    .franquiciaSection{
        h2{
            font-weight: 30px;
        }
        h3{
            font-weight: 20px;
        }
        form{
            width: 100%;
        }
    }
    .imgFranquicia{
        width: 100%;
    }
}
