// FRANQUICIAS //

.fondoFranquicia{
    background-color: rgb(48, 44, 44);
}

.boton{
    background-color: rgb(206, 180, 213) ;
    margin: 10px 0px 10px 0px;
}

.boton:hover{
    background-color: rgb(112, 217, 249);
}

.tituloFranquicia{
    color: rgb(119, 211, 62);
}