// FRANQUICIAS //

.franquiciaSection{
    h2{
        font-family: 'Oswald', sans-serif;
    }

    p{
        font-family: 'Oswald', sans-serif;
    }

    h3{
        font-family: 'Oswald', sans-serif;
        color: rgb(119, 211, 62);
    }
}

.fondoFranquicia{
    background-color: rgb(48, 44, 44);
}

.botonFormulario{
    background-color: $color1;
    margin: 10px 0px 10px 0px;
}

.botonFormulario:hover{
    background-color: $color3;
}
