header{
    background-color: $color1;
    border-bottom: ridge;
    border-color: rgb(186, 142, 186);
    width: 100%;
    
    span{
        font-size: x-large;
    }
    
    div{
        display: flex;
        justify-content: end;
            
        li{
            padding-right: 1rem;
            padding-left: 1rem;
                a{
                    font-family: 'Oswald', sans-serif;
                    color: white;
                    font-size: large;
                    text-decoration: none;
                            &:hover{
                            color:$color2;
                            }
                    }
            }
        
    }
}
