
// MAIN //


main{
    background-image: url(../assets/mainn2copia.jpg);
    background-size: cover;
    height: 90vh; 
    display: flex;
    justify-content: center;
    align-items: center;
        img{
            animation-name: aparecer;
            animation-duration: 2s;
        }
}



@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


// SECTION INDEX //

.sectionIndex{
    background-color: rgb(48, 44, 44);
        h1{
            color: $color1;
        }
        h2{
            color: #C5FADE;
        }
        p{
            font-size: large;
            color: #C5FADE;
        }
}

.botonIndex{
    @include boton;
}

.botonIndex:hover{
    @include boton2;
}

@media (max-width: 426px) { 
    main{
        height: 30vh;
    }
    .img2{
        height: 15vh;
        top: 50px;
    }
    .imagenHello{
        max-width: 200px;
    }
    .botonIndex{
        font-size: x-small;
        width: 40%;
        height: 50%;
    }
}



@media (max-width: 768px) { 
    main{
        height: 30vh;
    }
    .img2{
        height: 15vh;
        top: 50px;
    }
    .imagenHello{
        max-width: 200px;
    }
}