// PLAN DETOX //

.tituloPlanes{
    color: $color1;
}

.card-title{
    color: $color2;
}


.accordion-button{
    color: $color2;
    
}


.accordion-button:not(.collapsed){
    color: $color2;
    background-color: transparent;
}