
// PAGINA PRODUCTOS //


.titulosProductos{
    font-family: 'Permanent Marker', cursive;
    color: $color2;
}

@media (max-width: 426px) { 
    .imgProductos{
        width: 35%;
    }

    .grilla{
        flex-wrap: nowrap;
    }
}