* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  padding: 0.5rem;
}

h2 {
  padding: 1rem;
}

h3 {
  padding: 1.5rem;
}

header {
  background-color: #ceb4d5;
  border-bottom: ridge;
  border-color: #ba8eba;
}

header span {
  font-size: x-large;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header div li {
  padding-right: 1rem;
  padding-left: 1rem;
}

header div li a {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: large;
  text-decoration: none;
}

header div li a:hover {
  color: #711c71;
}

.img1 {
  position: absolute;
}

.img2 {
  position: relative;
  top: 100px;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sectionIndex {
  background-color: #302c2c;
}

.botonIndex {
  color: #434141;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bolder;
  background-color: #7be3ca;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  border: #6392e9 solid 4px;
  border-radius: calc(20px);
}

.botonIndex:hover {
  color: #434141;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bolder;
  background-color: #f2f798;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  border: #a8de91 solid 4px;
  border-radius: calc(20px);
}

@media (max-width: 426px) {
  .img2 {
    max-width: 300px;
    top: 50px;
    left: 50px;
  }
  .imagenHello {
    max-width: 200px;
  }
  .botonIndex {
    font-size: x-small;
    width: 40%;
    height: 50%;
  }
}

.titulosProductos {
  font-family: 'Permanent Marker', cursive;
  color: #711c71;
}

@media (max-width: 426px) {
  .imgProductos {
    width: 35%;
  }
  .grilla {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.tituloPlanes {
  color: #ceb4d5;
}

.card-title {
  color: #711c71;
}

.accordion-button {
  color: #711c71;
}

.accordion-button:not(.collapsed) {
  color: #711c71;
  background-color: transparent;
}

.titulosProductos {
  font-family: 'Permanent Marker', cursive;
  color: #711c71;
}

@media (max-width: 426px) {
  .imgProductos {
    width: 35%;
  }
  .grilla {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.nosotrosSection h1 {
  font-family: 'Oswald', sans-serif;
}

.nosotrosSection h3 {
  font-family: 'Oswald', sans-serif;
}

.nosotrosSection p {
  font-family: 'Oswald', sans-serif;
}

.nosotrosSection img {
  width: 80px;
  height: 80px;
}

.imgCarousel {
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.franquiciaSection h2 {
  font-family: 'Oswald', sans-serif;
}

.franquiciaSection p {
  font-family: 'Oswald', sans-serif;
}

.franquiciaSection h3 {
  font-family: 'Oswald', sans-serif;
  color: #77d33e;
}

.fondoFranquicia {
  background-color: #302c2c;
}

.botonFormulario {
  background-color: #ceb4d5;
  margin: 10px 0px 10px 0px;
}

.botonFormulario:hover {
  background-color: #8dd8af;
}

footer {
  background-color: #ceb4d5;
}

footer a {
  color: #711c71;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: large;
}

footer a:hover {
  color: white;
}

footer p {
  color: #711c71;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: large;
}
/*# sourceMappingURL=main.css.map */