* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0rem;
}

h1 {
  padding: 0.5rem;
}

h2 {
  padding: 1rem;
}

h3 {
  padding: 1.5rem;
}

header {
  background-color: #ceb4d5;
  border-bottom: ridge;
  border-color: #ba8eba;
  width: 100%;
}

header span {
  font-size: x-large;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header div li {
  padding-right: 1rem;
  padding-left: 1rem;
}

header div li a {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: large;
  text-decoration: none;
}

header div li a:hover {
  color: #711c71;
}

main {
  background-image: url(./assets/mainn2copia.jpg);
  background-size: cover;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main img {
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sectionIndex {
  background-color: #302c2c;
}

.sectionIndex h1 {
  color: #ceb4d5;
}

.sectionIndex h2 {
  color: #C5FADE;
}

.sectionIndex p {
  font-size: large;
  color: #C5FADE;
}

.botonIndex {
  color: #353434;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bolder;
  background-color: #C5FADE;
  padding: 10px;
  margin-bottom: 2rem;
  margin-left: 1rem;
  border: #93b1e8 solid 4px;
  border-radius: calc(20px);
}

.botonIndex:hover {
  color: #353434;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: bolder;
  background-color: #f2f798;
  padding: 10px;
  margin-bottom: 2rem;
  margin-left: 1rem;
  border: #a8de91 solid 4px;
  border-radius: calc(20px);
}

@media (max-width: 426px) {
  main {
    height: 30vh;
  }
  .img2 {
    height: 15vh;
    top: 50px;
  }
  .imagenHello {
    max-width: 200px;
  }
  .botonIndex {
    font-size: x-small;
    width: 40%;
    height: 50%;
  }
}

@media (max-width: 768px) {
  main {
    height: 30vh;
  }
  .img2 {
    height: 15vh;
    top: 50px;
  }
  .imagenHello {
    max-width: 200px;
  }
}

.grilla {
  padding-right: var(--bs-gutter-x, 0rem);
  padding-left: var(--bs-gutter-x, 0rem);
}

.grilla h1 {
  font-family: 'Oswald', sans-serif;
  color: #711c71;
  font-weight: bolder;
}

.grilla h2 {
  font-family: 'Oswald', sans-serif;
  color: #711c71;
}

@media (max-width: 426px) {
  .imgProductos {
    width: 35%;
  }
  .grilla {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.tituloPlanes {
  color: #ceb4d5;
}

.card-title {
  color: #711c71;
}

.accordion-button {
  color: #711c71;
}

.accordion-button:not(.collapsed) {
  color: #711c71;
  background-color: transparent;
}

.grilla {
  padding-right: var(--bs-gutter-x, 0rem);
  padding-left: var(--bs-gutter-x, 0rem);
}

.grilla h1 {
  font-family: 'Oswald', sans-serif;
  color: #711c71;
  font-weight: bolder;
}

.grilla h2 {
  font-family: 'Oswald', sans-serif;
  color: #711c71;
}

@media (max-width: 426px) {
  .imgProductos {
    width: 35%;
  }
  .grilla {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.nosotrosSection h1 {
  font-family: 'Oswald', sans-serif;
}

.nosotrosSection h3 {
  font-family: 'Oswald', sans-serif;
}

.nosotrosSection p {
  font-family: 'Oswald', sans-serif;
}

.nosotrosSection img {
  width: 80px;
  height: 80px;
}

.imgCarousel {
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 426px) {
  .imgCarousel {
    height: 40vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.franquiciaSection {
  background-color: #302c2c;
}

.franquiciaSection h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
}

.franquiciaSection p {
  font-family: 'Oswald', sans-serif;
}

.franquiciaSection h3 {
  font-family: 'Oswald', sans-serif;
  color: #95d233;
  font-size: 35px;
}

.franquiciaSection form {
  width: 50%;
}

.imgFranquicia {
  width: 50%;
}

.botonFormulario {
  background-color: #ceb4d5;
  margin: 10px 0px 10px 0px;
}

s
.botonFormulario:hover {
  background-color: #8dd8af;
}

@media (max-width: 426px) {
  .franquiciaSection form {
    width: 100%;
  }
  .imgFranquicia {
    width: 100%;
  }
  .noneFranquicia {
    display: none;
  }
}

@media (max-width: 768px) {
  .imgFranquicia {
    width: 100%;
  }
}

footer {
  background-color: #ceb4d5;
  width: 100%;
}

footer a {
  color: #711c71;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: large;
}

footer a img {
  border-radius: 15%;
}

footer a:hover {
  color: white;
}

footer p {
  color: #711c71;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: large;
}
/*# sourceMappingURL=main.css.map */